.totalcaloriesbtn {
    width: 256px;
    height: 128px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    color: black;
    font: bold;
    font-size: 20px;
    background-color:bisque;
   }
   
   .consumedcaloriesbtn {
       width: 256px;
       height: 128px;
       padding: 16px;
       margin: 16px;
       text-align: center;
       color: black;
       font: bold;
       font-size: 20px;
       background-color:burlywood;
      }
   
      .totalcaloriesburnedbtn {
       width: 256px;
       height: 128px;
       padding: 16px;
       margin: 16px;
       text-align: center;
       color: black;
       font: bold;
       font-size: 20px;
       background-color:salmon;
      }
      .remainingcaloriesburnedbtn {
        width: 256px;
        height: 128px;
        padding: 16px;
        margin: 16px;
        text-align: center;
        color: black;
        font: bold;
        font-size: 20px;
        background-color:aliceblue;
       }

       .actionbtn {
        width: 256px;
        height: 128px;
        padding: 16px;
        margin: 16px;
        text-align: center;
        color: black;
        font: bold;
        font-size: 20px;
        background-color: crimson;
       }

       header {
        position: relative;
        color: black;
        font-size: 24px;
        margin-bottom: 20px;
      }
       .parent{
        display:flex;
        flex-direction: row;
        gap: 2;
       }

     